button[name="resolution"]{
	background-color:gray;
	color:#fff;
	width:80px;
	margin:10px 45%;
}

#container{
	width:960px;
	height:960px;
	margin:0px auto;
	padding:10px;
	background-color:gray;
	text-align:center;
}

#container div{
	/*display:inline-block;*/
	float:left;
	margin:0px;
	padding:0px;
	background-color:#fff;
	/*border:1px black solid;*/
	vertical-align:top;
}

/*#container div:hover{background-color:#000;};*/
#container div.hover{
	background-color:#000;
}